<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
    <div class="container p-5 bg-light">
        <div class="row d-flex justify-content-around">
            <div class="col-5">
                <h1>New Author</h1>
                <form action='/authors/create' method="POST">
                    <label class='form-label' for='name'>Name:</label>
                    <input class='form-control' type='text' name='name' id='name'>
                    <input class="btn btn-success mt-3" type="submit" value="Create">
                </form>
            </div>
            <div class="col-5">
                <h1 class='mb-4'>All Authors</h1>
                {% for author in all_authors: %}
                <p><a href='/authors/{{author.id}}'>{{author.name}}</a></p>
                {% endfor %}
                <a class='btn btn-primary mt-3' href='/books'>Add Book</a>
            </div>
        </div>
    </div>
</body>

</html>